aside ul {
    padding: 0;
    margin: 0;
}

aside li {
    list-style-type: none;
    padding: 10;
    padding-left: 20;
    padding-right: 20;
    text-align: center;
}

aside li:hover {
    background-color: rgba(0, 0, 0, 0.2) !important;
}

aside {
    width: 19.6%;
    height: calc(100% - 71px - 39px);
    display: inline-block;
    /* padding-right: 10px; */
    background: #fff;
    color: #100806;
}

aside ul {
    height: 100%;
    overflow-y: scroll;
}

article {
    width: 80%;
    display: inline-block;
    height: calc(100% - 71px - 39px);
    overflow: auto;
    background-color: #100806;
    vertical-align: top;
}

header {
    text-align: center;
    padding: 5px;
    background-color: #fff;
}

header a {
    text-decoration: none;
}

header h1 {
    font-size: 50px;
    margin: 0;
    display: inline;
}

header #satisfactoryHelper {
    color: white;
    text-transform: uppercase;
    font-variant-caps: petite-caps;
    font-family: fantasy;
    text-shadow: -3px -3px 0 #666666, 3px -3px 0 #666666, -3px 3px 0 #666666, 3px 3px 0 #666666;
    letter-spacing: -2;
}

/* header #deamon {
    color: #c80000;
    font-family: fantasy;
} */

header #deamon {
    color: #c80000;
    font-family: monospace;
    text-shadow: -2px -2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000, 2px 2px 0 #000000;
    /* letter-spacing: -5; */
}

body {
    margin: 0;
    overflow: hidden;
}

article table {
    width: 100%;
    height: 100%;
    color: white;
}

article table tr:nth-child(odd) {
    /* background-color: rgba(255,255,255,0.2); */
}

article table td {
    color: white;
}

article table tr th {
    background-color: white;
    color: #100806;
    height: 1em;
}

footer {
    text-align: center;
}

fieldset {
    display: inline-block;
    padding: 5px;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
}

input#quantity {
    max-width: 8ch;
}

input.enabler {
    width: 10ch;
    height: 4ch;
    background-color: #4CAF50;
}

input.disabler {
    width: 10ch;
    height: 4ch;
    background-color: #f44336;
}