aside ul {
    padding: 0;
    margin: 0;
}

aside li {
    list-style-type: none;
    padding: 10;
    padding-left: 20;
    padding-right: 20;
    text-align: center;
}

aside li:hover {
    background-color: rgba(0, 0, 0, 0.2) !important;
}

aside {
    width: 19%;
    height: calc(100% - 130px);
    display: inline-block;
    padding-right: 10px;
    background: #fff;
    overflow-y: scroll;
}

article {
    width: 80%;
    top: 0;
    display: inline-block;
    height: calc(100% - 130px);
    overflow: auto;
    background-color: #100806;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #fff;
}

header img {
    font-size: 4em;
    margin: 0;
    height: 70px;
}

header a {
    text-decoration: none;
}

body {
    margin: 0;
    overflow: hidden;
}

article table {
    width: 100%;
    height: 100%;
}

article table td {
    color: white;
}

article table tr:nth-child(1) {
    background-color: white;
}

footer {
    background-color: #fff;
    text-align: right;
}