.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 56px;
	padding: 0;
	background: var(--primary);
	color: var(--primary-text);
	box-shadow: 0 0 5px var(--secondary);
	z-index: 50;
}

.header h1 {
	float: left;
	margin: 0;
	padding: 0 15px;
	font-size: 24px;
	line-height: 56px;
	font-weight: 400;
	color: var(--primary-text);
}

.header nav {
	float: right;
	font-size: 100%;
}

.header nav a {
	display: inline-block;
	height: 56px;
	line-height: 56px;
	padding: 0 15px;
	min-width: 50px;
	text-align: center;
	background: var(--primary-dark);
	text-decoration: none;
	color: var(--secondary-text);
	will-change: background-color;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
}

.header nav a:hover,
.header nav a:active {
	background: var(--primary-light);
}

.header nav a.active {
	background: var(--primary-light);
	color: var(--primary-light-text);
}
